*{
    background-color: black;
    color: white;
}

.header{
   display: flex;
    align-items: center;
    background-color: sienna;
    justify-content: space-between;
    padding: 12px;
}

.search{
     flex: 1;
  display: flex;
  justify-content: center;
}


.logbtn{
    margin: 10px;
}