*{
    background-color: black;
    color: white;
}

.header{
   display: flex;
    align-items: center;
    background-color: gold;
    justify-content: space-between;
     border-radius: 10px;
}

.search-box{
     
  display: flex;
  align-items: center;
width: 500px;
height: 30px;
border: 1px solid #ccc;
border-radius: 25px;
overflow: hidden;

}

.search-box input{
    flex: 1.5;
    height: 90%;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    align-items: center;
}

.search-box button{
    height: 35px;
    margin-right: 5px;
    padding: 0 18px;
    border: none;
    border-radius: 20px;
    background: #222;
    color: white;
    cursor: pointer;
}

.search-box button:hover{
    background: #444;
}

.userDetails{
     display: flex;
  align-items: center;
border: 1px solid #ccc;
border-radius: 25px;
overflow: hidden;
background-color: gold;
}

.logbtn{
    margin: 10px;
     border-radius: 50px;
     width: 50px;
     ;
}

.logbtn:hover{
    background: chocolate;
    
}

.profile{
    border-radius:50%;
    height: 35px;
    width: 35px;
    padding: 0;
    border: none;
        overflow: hidden;
        cursor: pointer;

}
.profile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.profile:hover{
     height: 40px;
    width: 40px;
}